#dropdown-wrapper {
    position: relative;

    #button:focus {
        background-color: var(--app-hover-background);
    }

    #dropdown-options {
        position: absolute;
        margin-top: 4px;
        border-radius: 4px;
        overflow: hidden;
        border: 1px solid var(--app-border-color);

        #button {
            padding: 8px 20px;
            border: 0;
            border-radius: 0;
            width: 100%;
        }

        &.open-left {
            right: 0;
        }
    }
}