#skills {
    h3 {
        text-align: center;
    }

    .skill-section-wrapper {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .skill-section {
            padding: 0 20px;

            h3 {
                margin-top: 3rem;
            }

            .skill-icons-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 16px;

                .skill-card {
                    width: 200px;
                    height: 48px;
                    max-width: 200px;
                    display: flex;
                    align-items: center;

                    color: var(--app-text-color);

                    svg {
                        width: 48px;
                        font-size: 40px;
                    }

                    p {
                        font-size: 16px;
                        margin: 0 0 0 8px;
                    }
                }
            }
        }
    }
}