#skills {
    h3 {
        text-align: center;
    }

    .skill-section-wrapper {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .skill-section {
            padding: 0 20px;

            h3 {
                margin-top: 3rem;
            }

            .skill-icons-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 16px;

                
                .card {
                    transition: transform 0.25s ease-in-out;
                    
                    &:hover {
                        transform: scale(1.1);
                    }
                    
                    animation: SkillCardAnimation 1s;
                    animation-fill-mode: both;

                    @keyframes SkillCardAnimation {
                        0% {
                            opacity: 0;
                            scale: (1);
                        }
                        50% {
                            opacity: 0.5;
                            scale: (1.1);
                        }
                        100% {
                            opacity: 1;
                            scale: (1);
                        }
                    }

                    .skill-card {
                        width: 200px;
                        height: 48px;
                        max-width: 200px;
                        display: flex;
                        align-items: center;

                        color: var(--app-text-color);

                        svg {
                            width: 48px;
                            font-size: 40px;
                        }

                        p {
                            font-size: 16px;
                            margin: 0 0 0 8px;
                        }
                    }
                }
            }
        }
    }
}