:root {
    // default dark theme
    --app-text-color: white;
    --app-subtext-color: #bbbbbb;
    --app-background-color: #1b1a1a;
    --app-border-color: #3b3636;
    --app-hover-background: #3b3636;
    --app-card-background-color: #3b3636;
    --app-scrollbar-thumb-color: #3b3636;
    --app-scrollbar-track-color: #292525;
}

body[theme='light'] {
    --app-text-color: #172b4d;
    --app-subtext-color: #565766;
    --app-background-color: #f4f5f7;
    --app-border-color: #c9bdbd;
    --app-hover-background: #cdcdcd;
    --app-card-background-color: #e9e0e0;
    --app-scrollbar-thumb-color: #c9bdbd;
    --app-scrollbar-track-color: #e9e0e0;
}
