:root {
    // default dark theme
    --app-text-color: white;
    --app-subtext-color: #bbbbbb;
    --app-background-color: #1b1a1a;
    --app-border-color: #3b3636;
}

body[theme='light'] {
    --app-text-color: #172b4d;
    --app-subtext-color: #565766;
    --app-background-color: #f4f5f7;
    --app-border-color: #c9bdbd;
}
