@import '../../theme/Responsive.scss';

.avatar {
    --avatar-size: 350px;

    min-width: var(--avatar-size);
    height: var(--avatar-size);
    width: var(--avatar-size);
    border-radius: 50%;
    overflow: hidden;

    @include smallDevices() {
        --avatar-size: 300px;
    }

    @keyframes AvatarAnimation {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    animation: AvatarAnimation 0.75s;
}

.avatar img {
    width: 100%;
    object-position: 0 -35px;
}