.avatar {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    overflow: hidden;

    @keyframes AvatarAnimation {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    animation: AvatarAnimation 0.75s;
}

.avatar img {
    width: 100%;
    object-position: 0 -35px;
}