@import './theme/Colors.scss';
@import './theme/Responsive.scss';

.app {
    background-color: var(--app-background-color);
    color: var(--app-text-color);

    a {
        text-decoration: none;
        color: inherit;
    }

    h2 {
        text-align: center;
        font-size: 32px;
        margin: 0;
    }

    .section {
        padding: 4rem;
        
        @include largeDevices() {
            & {
                padding: 2rem;
            }
        }
    }

}

html {
    scroll-behavior: smooth;
}