.header {
    $horizontal-padding: 20px;
    background-color: var(--app-color-background);
    
    position: fixed;
    color: var(--app-color-text);
    width: calc(100% - $horizontal-padding * 2);
    height: 50px;
    padding: 0 $horizontal-padding;
    z-index: 2;

    border-bottom: 1px solid var(--app-divider-color);

    font-size: 20px;

    @keyframes HeaderAnimation {
        0% {
            opacity: 0;
            transform: translateY(-50px);
        }

        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }

    animation: HeaderAnimation 0.75s;

    nav {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
